<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="sorter">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <directory suffix=".php">example</directory>
        </whitelist>
    </filter>
</phpunit>